.navWrapper {
  background-color: var(--color-white);
  border-bottom: 1px solid rgb(199, 199, 199);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  font-size: 1.7rem;
  align-items: center;
  font-weight: 300;
}
.avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(169, 169, 169);
  border-radius: 50%;
}
