:root {
  --primary-blue: #03407d;
  --color-deepblue: #030e30;
  --color-lightblue: #2a70c0;
  --color-brown: #8e785d;
  --color-brownlight: #f7bf50;
  --color-green: #0dc962;
  --color-pink: #f05660;
  --color-white: #f4f5f6;
  --primary-red: #da2525;
}

html,
body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.wrapper {
  width: 95%;
  max-width: 2000px;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
