.bottomBarWrapper {
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 -3px 18px rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 0 0;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.add {
  border-radius: 50%;
  padding: 7px;
  /* margin-top: -50px; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: -40px 7px 0;
  background-color: var(--primary-red);
  /* width: 70px;
  height: 70px; */
  color: var(--color-white);
  display: grid;
  place-items: center;
  z-index: 9;
  /* width: 80px;
  height: 80px; */
}

.add svg {
  font-size: 3.3rem;
}

/* NavLink Section */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-size: 0.7rem;
  /* background-color: white; */
  flex-basis: 19%;
}

.menu:global(.active) {
  color: var(--primary-red);
}

.menu svg {
  font-size: 1.8rem;
}
